POSTGRES_USER=Админ для контейнера с бд в Docker'e
POSTGRES_PASSWORD=пароль для пользователя в контейнере с бд в Docker'e
POSTGRES_DB=Название БД для контейнера Docker
DB_NAME=Имя БД к которой надо подключится 
DB_HOST=Имя контейнера в которой находится бд 
DB_PORT=Порт через который необходимо подключаться к бд